{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Supporter Membership{% endblock %}

{% block content %}

<div class="col-md-8">
    <h2>Join as a Supporter Member</h2>

    <p>Supporter membership of the Hackspace Foundation is available for individuals who
       have significant experience running hackspaces and an interest in helping the
       Foundation.</p>

    <p>Supporter members are full, voting members of the Foundation, however the voting power of all
       supporter members is capped at 20%, with 80% of voting power with Member Spaces.</p>

    <p>The membership fee for a Supporter Member is a minimum of £10 per year, collected by
       Direct Debit. Admission as a supporter member is at the discretion of the Board.</p>

    <p>You can read more about the Hackspace Foundation's <a href="{% url 'foundation' path='structure.md' %}">organisational structure here.</a></p>

    <div class="alert alert-info">
        <div class="">

            {{ form.non_field_errors }}

            <form method="POST" class="form-horizontal">
                {% csrf_token %}

                <p>To continue your application, please review/amend your annual 
                   subscription fee below (minimum of &pound;10):</p>

                <div class="form-group">
                    <label for="inputEmail" class="col-sm-4 control-label">Subscription Fee</label>
                    <div class="col-sm-8">
                        {% if form.fee.errors %}
                            {% for error in form.fee.errors %}
                                <div class="alert alert-sm alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                        {% render_field form.fee class+="form-control" %}
                    </div>
                </div>

                <p>Please provide a short note to the Board explaining your reasons for
                   applying and relevant experience:</p>

                <div class="form-group">
                    <label for="inputEmail" class="col-sm-4 control-label">Note to the Board</label>
                    <div class="col-sm-8">
                        {% if form.statement.errors %}
                            {% for error in form.statement.errors %}
                                <div class="alert alert-sm alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                        {% render_field form.statement class+="form-control" %}
                    </div>
                </div>

                <p>Click the button below to start your application. 
                    You will be guided through setting up a Direct Debit mandate. 
                    Please note no money will be taken until your application has been approved.</p>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success">Continue with Application</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

{% endblock %}
