body {
  padding-top: 50px;
  position:relative;
  font-size:15px;
  line-height:1.5;
}

p {
    margin: 0px 0px 22px;
}

h1 {
    margin-bottom: 22px;
}

h2 {
    padding-bottom:5px;
    margin-bottom:17px;
    border-bottom: 1px solid #eee;
}

dd {
    margin-left: 15px;
    font-size:15px;
    line-height:1.5;
}

dt {
    font-size:15px;
    line-height:1.5;
}

.no-margin {
    margin:0px 0px;
}

.alert {
    padding: 21px 15px;
}
.alert-sm {
    padding: 10px 15px;
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.navbar-default .navbar-brand {
    color: #404040;
}

.navbar-brand img {
    display:inline-block;
    max-height:40px;
    margin-top: -10px;
    margin-bottom:-10px;
    margin-right: 10px;
}

@media (max-width:400px) {
    .navbar-brand img {
        max-height:30px;
    }
}

.footer {
    margin-top:30px;
    background-color: #f8f8f8;
    color: #808080;
    padding: 8px 0px 30px 0px;
    font-size: 14px;
}

.messages {
    margin-top: 15px;
}

.jumbotron {
    background-color: #2d4670;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom:0px;
}

.jumbotron h1 {
    font-size: 43px;
    color: #fff;
}

.jumbotron p {
    color:#eee;
    font-size: 20px;
}

.jumbotron a {
    color: #95c11f;
}

@media (min-width: 992px) {
    #ListOfSpaces {
        margin-top:-20px;
    }
}

#ListOfSpaces img {
    display:box;
    width: 2em;
}

#mapframe {
    margin-bottom: 20px;
}

#map {
    height:400px;
}

#mapframe p {
    position:relative;
    left:10px;
    top: -390px;
    color:white;
    z-index: 10;
}


#markdown {

}

#toc {
    width:260px;

}

@media (max-width: 992px) {
    #toc {
        display:none;
    }
}

#toc.affix {
    position:fixed;
    top:60px;
}
#toc.affix-top {

}
#toc.affix-bottom {
    position:absolute;
}



#toc ul, #toc ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight:normal;
    color: #888;
}

#toc li a {
    margin:0;
    font-size:13px;
}

#toc .nav>li>a {
    padding: 4px 20px;
    color: #888;
    text-decoration: none;
    display: block;
}

#toc .nav .nav>li>a {
    padding-left:30px;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc>ul>li.active>a {
    border-left: 2px solid #2d4670;
    padding-left:18px;
}

#toc li.active>a {
    color: #2d4670;
    font-weight:bold;
}

img.home-hackspace-logo {
    max-width:100px;
    max-height:60px;
    margin-top:10px;
}

dd h3 {
    margin:0px 0px;
}

.panel-heading .btn-sm {
    margin-top: -5px;
    margin-right: -10px;
}
