"""Local Django settings for hsf project.

Rename this file to local_settings.py and change to match your local
system (eg the SMTP settings)  - DO NOT COMMIT THAT FILE!

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.10/ref/settings/

"""

import os
from .settings import *


# Email - development settings
# Intended for use with python debugging smtp server:
# python -m smtpd -n -c DebuggingServer localhost:1025
EMAIL_HOST = "localhost"
EMAIL_PORT = 1025
DEFAULT_FROM_EMAIL = "contact@hackspace.org.uk"
# Change so that you can pretend to be the board and approve members
BOARD_EMAIL = "changeme@somewhere.com"

# GOCARDLESS - signup at https://manage-sandbox.gocardless.com/signup
GOCARDLESS_ENVIRONMENT = "sandbox"
GOCARDLESS_WEBHOOK_SECRET = ""
GOCARDLESS_ACCESS_TOKEN = ""
