<p>You are receiving this email because {{ first_name }} {{ last_name }} ({{ email }}) has applied for <b>Space Membership</b> for their space {{ space_name }}.
</p>

<p>Note to the Board from {{ first_name }}:</p>

<p>{{ note }}</p>

<p>Chosen subscription fee: &pound;{{ fee }}</p>

<p>As a member of the Hackspace Foundation board, please could you use the following links to <a href="{{ approve_url }}">Approve</a> or <a href="{{ reject_url}}">Reject</a> this request.
</p>

<p>Thanks, the Hackspace Foundation
</p>
