{% extends "base.html" %}
{% load static %}


{% block title %}Hackspace Foundation - {{ title }}{% endblock %}

{% block jumbotron %}

<div class="jumbotron">
    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </div>
</div>

{% endblock %}


{% block content %}

<a href="{{ url }}" class="btn btn-sm btn-default pull-right" style="margin-top: 3px; margin-right:5px;">View on Github</a>

<ol class="breadcrumb" style="width:100%">
    <li><a href="/{{ repo }}/">{{ title }}</a></li>
    {% for breadcrumb in breadcrumbs %}
        <li><a href="/{{ repo }}{{ breadcrumb.url }}">{{ breadcrumb.slug }}</a></li>
    {% endfor %}
</ol>

<div class="row">
    <div class="col-md-8">
        <div id="markdown">
            {{ md |safe}}
        </div>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <nav id="toc" data-spy="affix" data-offset-top="170" data-offset-bottom="200">
            <ul class="nav" data-toc="#markdown" data-toc-headings="h1,h2,h3,h4"></ul>
        </nav>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/jquery.toc.js" %}"></script>

    <script>
        // rewrite image urls with this base:
        var githubBaseUrl = '{{ imageBase }}';
        $('#markdown img').each( function(index, element) {
            var src = $(this).attr("src");
            if (!src.includes('://'))
                $(this).attr("src", githubBaseUrl + src);
        });
    </script>

{% endblock %}
