{% extends "base.html" %}

{% block title %}Git Info | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Git Info</h1>

        <p>Details of latest commit applied to this server:</p>

        <dl id="gitinfo">
            <dt>Tag</dt>  <dd><a href="https://github.com/UKHackspaceFoundation/website/commit/{{ tag }}">{{ tag }}</a></dd>
        </dl>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/github-api/dist/GitHub.bundle.min.js"></script>
    <script>

    function addToDL(dl, dt, dd) {
        var dde = $('<dt>'+dt+'</dt>');
        var dte = $('<dd>'+dd+'</dd>')
        dl.append(dde);
        dl.append(dte);
    }

    var gh = new GitHub();

    var repo = gh.getRepo('UKHackspaceFoundation', 'website');

    // get sha
    $.ajax({
        url: 'https://api.github.com/repos/UKHackspaceFoundation/website/commits/{{ tag }}',
        headers: { 'Accept': 'application/vnd.github.VERSION.sha' }
    }).done(function(data) {
        // get commit
        var commit = repo.getCommit(data, function(err, result) {
            // add to dl
            var dl = $('#gitinfo');

            addToDL(dl, 'Message', result.message);
            addToDL(dl, 'Author', result.author.name);

        });
    });


    </script>
{% endblock %}
