{% extends "base.html" %}
{% load static %}

{% block title %}Home | Hackspace Foundation{% endblock %}

{% block content %}

{% if user.space %}
    <img src="{{ user.space.logo_image_url }}" class="home-hackspace-logo pull-right"/>
{% endif %}

<h1>Hola, {{ user.first_name }}</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'edit-profile' %}" class="btn-sm btn-primary pull-right">Edit Profile</a>
                <h3 class="panel-title">Your Profile</h3>
            </div>
            <div class="panel-body">

                <dl class="dl-horizontal no-margin">
                    <dt>Name</dt> <dd>{{ user.first_name }} {{ user.last_name }}</dd>
                    <dt>Email</dt> <dd>{{ user.email }}</dd>
                </dl>
            </div>
        </div>

        {% if user.member_type != "Representative" %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Membership {% if user.member_status == "Pending" %} is Pending!{% endif %}</h3>
                </div>
                <div class="panel-body">

                    {% if user.member_type == "None" %}

                        {% if user.space %}
                            <p>Irrespective of whether your space is a member of the foundation, you may apply for individual membership:</p>
                        {% else %}
                            <p>Click below to apply for individual membership to the foundation:</p>
                        {% endif %}


                        <a href="/join/supporter/1" class="btn btn-success">Apply</a>

                    {% elif user.member_type == "Supporter" %}

                        {% if user.member_status == "Pending" %}
                            <p>Thankyou for your application, it is currently being reviewed by the Board</p>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        {% endif %}

<!---
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Membership Benefits</h3>
            </div>
            <div class="panel-body">
                <p class="no-margin">Coming soon... :) </p>

            </div>
        </div>
--->
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if user.space %}
                    <a href="/edit-space-profile" class="btn-sm btn-primary pull-right">Edit Profile</a>
                {% endif %}
                <h3 class="panel-title">Your Hackspace</h3>
            </div>
            <div class="panel-body">
                {% if user.space %}
                    <dl class="dl-horizontal no-margin">
                        <dt>Name</dt> <dd><h3>{{ user.space.name }}</h3></dd>
                        <dt>Status</dt> <dd>{{ user.space.status }}</dd>
                        <dt>Website</dt> <dd><a href="{{ user.space.main_website_url }}">{{ user.space.main_website_url }}</a></dd>
                        <dt>Email</dt> <dd><a href="mailto:{{ user.space.email }}">{{ user.space.email }}</a></dd>
                        <dt>Have Premises?</dt> <dd>{{ user.space.have_premises }}</dd>
                        <dt>Address</dt> <dd>{{ user.space.address_first_line }}</dd>
                        <dt>Town</dt> <dd>{{ user.space.town }}</dd>
                        <dt>Region</dt> <dd>{{ user.space.region }}</dd>
                        <dt>Postcode</dt> <dd>{{ user.space.postcode }}</dd>
                        <dt>Country</dt> <dd>{{ user.space.country }}</dd>
                        <dt>Last Updated</dt> <dd>{{ user.space.changed_date }}</dd>
                    </dl>
                {% else %}
                    <p class="no-margin">You are not currently associated with a hackspace - you can change this by <a href="{% url 'edit-profile' %}">updating your profile</a></p>
                {% endif %}

            </div>
        </div>

        {% if user.space %}
            {% if user.member_type != "Supporter" %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ user.space.name }}'s Membership</h3>
                    </div>
                    <div class="panel-body">
                        <p>If you are able to act as a Representative for your space, you may apply for it to become a Member Space:</p>
                        <a href="/join" class="btn btn-success">Apply</a>

                    </div>
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registered Users from {{ user.space.name }}</h3>
                </div>
                <div class="panel-body">
                    {% if associated_users %}
                        <ul>
                            {% for au in associated_users %}
                                <li>{% if au == user %}<b>{% endif %}
                                    {{ au.first_name }} {{ au.last_name }}
                                    {% if au == user %}</b>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>None</p>
                    {% endif %}
                </div>
            </div>


        {% endif %}
    </div>
</div>




{% endblock %}
