{% extends "base.html" %}

{% block title %}UK Hackspace Foundation{% endblock %}

{% block content %}
<h2>UK Hackspace Foundation</h2>
<p>The UK Hackspace Foundation is a non-profit, community organisation
dedicated to promoting and coordinating
<a href="https://en.wikipedia.org/wiki/Hackerspace">hackerspaces</a> in the UK.</p>

<p>Hackspaces are places you can visit to meet people, learn, socialise, and
    collaborate. A place to make your own projects a reality or help others
    with theirs.</p>

<p>There is a rich tradition of hackspaces worldwide. In January 2009, the UK
     Hackspace Foundation was formed in response to the lack of hackspaces in
     the UK. Since then, we've helped groups in a number of communities start
     creating their own spaces in their city.
</p>

<p>This year (2017) we intend to start allowing hackspaces to apply for membership of the foundation.
   This will enable us to add some weight behind negotiations of supplier discounts, as well as
   have a known source of knowledge/helpers on how to run a hackspace.
</p>

<h2>List of Spaces</h2>

<p>List of hackspace-like-entities as collated by the foundation. These are all the ones we've found / been
   told about. This is an informal process so it may well be out of date - if you spot any ommissions/corrections,
   please let us know via <a href="mailto:contact@hackspace.org.uk">email</a> or the <a href="https://forum.hackspace.org.uk">forum</a>.
</p>
<p>A separate members list will be made once we have members.
</p>

{% include "main/listofspaces.html" %}

{% endblock %}
