{% extends "base.html" %}

{% block title %}UK Hackspace Foundation{% endblock %}

{% block content %}
<h2>UK Hackspace Foundation</h2>
<p>The UK Hackspace Foundation is a non-profit, community organisation
dedicated to promoting and coordinating
<a href="https://en.wikipedia.org/wiki/Hackerspace">hackerspaces</a> in the UK.</p>

<p>Hackspaces are places you can visit to meet people, learn, socialise, and
    collaborate. A place to make your own projects a reality or help others
    with theirs.</p>

<p>There is a rich tradition of hackspaces worldwide. In January 2009, the UK
     Hackspace Foundation was formed in response to the lack of hackspaces in
     the UK. Since then, we've helped groups in a number of communities start
     creating their own spaces in their city.
</p>

<p>This year (2017) we intend to start allowing hackspaces to apply for membership of the foundation.
   This will enable us to add some weight behind negotiations of supplier discounts, as well as
   have a known source of knowledge/helpers on how to run a hackspace.
</p>

<h2>List of Spaces</h2>

<p>List of hackspace-like-entities as collated by the foundation. These are all the ones we've found / been
   told about. This is an informal process so it may well be out of date - if you spot any ommissions/corrections,
   please let us know via <a href="mailto:contact@hackspace.org.uk">email</a> or the <a href="https://forum.hackspace.org.uk">forum</a>.
</p>
<p>A separate members list will be made once we have members.
</p>

<div id="map" style="height: 400px;"></div>
<p class="text-info">Note: Only active spaces are shown on the map</p>

{% if spaces %}
    <div id="ListOfSpaces">
    {% regroup spaces|dictsort:"name"|dictsort:"country" by country as spaces_by_country %}

    {% for country in spaces_by_country %}
        <h3>{{ country.grouper }}</h3>

        {% regroup country.list|dictsort:"region" by region as spaces_by_region %}
        {% for region in spaces_by_region %}
            {% if region.grouper != country.grouper %}
                <h4>{{ region.grouper }}</h4>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <table class="table table-condensed col-md-6">
                        <tr> <th class="col-md-1">Logo</th> <th>Name</th> <th class="col-md-3">Status</th> </tr>

                        {% for space in region.list %}
                            <tr>
                                <td>{% if space.logoImageUrl %}
                                    <img src="{{ space.logoImageUrl }}">
                                {% endif %}</td>
                                <td><a href="{{ space.mainWebsiteUrl }}">{{ space.name }}</a></td>
                                <td>{{ space.status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}


{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMzvcKXd0kz91NK0jxhcmT4DJmYri7b1k&callback=initMap" async defer></script>

    <script>
    var data = [];
    var map, infowindow;

    function statusCode(a) {
        return (a.status == 'Suspended' || a.status == 'Defunct') ? 1 : 0;
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
         zoom: 5,
          center: new google.maps.LatLng(54.850291,-5.0339395),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        infowindow = new google.maps.InfoWindow();
    }

    function initMarkers() {
        if (map === undefined) {
            setTimeout(initMarkers, 100);
            return;
        }

        var marker, i;

        for (i = 0; i < data.length; i++) {
          if (statusCode(data[i]) == 0) {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                map: map
              });
              marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  var html = '';
                  if (data[i].logoImageUrl !== undefined)
                      html +='<img src="'+data[i].logoImageUrl+'" style="width:4em;"><br/>';
                  html += '<a href="'+data[i].mainWebsiteUrl+'">' + data[i].name + '</a><br/>';
                  html += '('+data[i].status + ')';

                  infowindow.setContent(html);
                  infowindow.open(map, marker);
                }
              })(marker, i));
          }
        }
    }

    // fetch data
    $.getJSON("spaces", function(json) {
        data = json.spaces;
        initMarkers();
    });
    </script>
{% endblock %}
