{% extends "base.html" %}
{% load static %}

{% block title %}Hackspace Foundation{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1>Hackspace Foundation</h1>

        <p>A non-profit, community organisation
        dedicated to promoting and coordinating
        <a href="https://en.wikipedia.org/wiki/Hackerspace">hackspaces</a> in and around the UK.</p>
    </div>
</div>

<div id="mapframe">
    <div id="map"></div>
    <p class="text-info">Note: Only active spaces are shown on the map</p>
</div>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <p>Hackspaces are places you can visit to meet people, learn, socialise, and
            collaborate. A place to make your own projects a reality or help others
            with theirs.</p>

        <p>There is a rich tradition of hackspaces worldwide. In January 2009, the
             Hackspace Foundation was formed in response to the lack of hackspaces in
             the UK. Since then, we've helped many groups create their own spaces.
        </p>

        <p><a href="/foundation/mission.md">Click here to read more about our Mission.</a></p>
    </div>
    <div class="col-md-6">

        <div class="alert alert-info" role="alert">
            In 2017 we plan to start allowing hackspaces to apply for
               membership of the foundation.
               This will help us add some weight behind negotiations of supplier discounts, as well as
               have a known source of advice on how to start and run a hackspace.
        </div>

    </div>
</div>



<h2>List of Active Spaces</h2>

<div class="row">
    <div class="col-md-6">
        <p>We currently know of <b>{{ activeSpaces|length }}</b> active hackspace-like entities.
            These are all the ones we've found / been
           told about. This is an informal process so it may well be out of date - if you spot any ommissions/corrections,
           please let us know via <a href="mailto:contact@hackspace.org.uk">email</a> or the <a href="https://forum.hackspace.org.uk">forum</a>.
        </p>
        <p>A separate members list will be made once we have members.
        </p>

    </div>

    <div class="col-md-6">

        <div id="ListOfSpaces">
            {% regroup activeSpaces|dictsort:"name"|dictsort:"country" by country as spaces_by_country %}

            {% for country in spaces_by_country %}
                <h3>{{ country.grouper }}</h3>

                {% regroup country.list|dictsort:"region" by region as spaces_by_region %}
                {% for region in spaces_by_region %}
                    {% if region.grouper != country.grouper %}
                        <h4>{{ region.grouper }}</h4>
                    {% endif %}


                            <table class="table table-condensed">
                                <tr> <th class="col-md-1 col-xs-1">Logo</th> <th>Name</th> <th class="col-md-3 col-sm-3 col-xs-3">Status</th> </tr>

                                {% for space in region.list %}
                                    <tr>
                                        <td>{% if space.logo_image_url %}
                                            <img src="{{ space.logo_image_url }}">
                                        {% endif %}</td>
                                        <td><a href="{{ space.main_website_url }}">{{ space.name }}</a></td>
                                        <td>{{ space.status }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


<h2>List of Inactive Spaces</h2>

<div class="row">
    <div class="col-md-6">
        <p>We currently know of <b>{{ inactiveSpaces|length }}</b> hackspace-like entities that have sadly closed or suspended operation.
        </p>
    </div>

    <div class="col-md-6">
        <div id="ListOfSpaces">
            {% regroup inactiveSpaces|dictsort:"name"|dictsort:"country" by country as spaces_by_country %}

            {% for country in spaces_by_country %}
                <h3>{{ country.grouper }}</h3>

                {% regroup country.list|dictsort:"region" by region as spaces_by_region %}
                {% for region in spaces_by_region %}
                    {% if region.grouper != country.grouper %}
                        <h4>{{ region.grouper }}</h4>
                    {% endif %}


                            <table class="table table-condensed">
                                <tr> <th class="col-md-1 col-xs-1">Logo</th> <th>Name</th> <th class="col-md-3 col-sm-3 col-xs-3">Status</th> </tr>

                                {% for space in region.list %}
                                    <tr>
                                        <td>{% if space.logo_image_url %}
                                            <img src="{{ space.logo_image_url }}">
                                        {% endif %}</td>
                                        <td><a href="{{ space.main_website_url }}">{{ space.name }}</a></td>
                                        <td>{{ space.status }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}

{% block js %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha384-roIisdke7t73jKsr2CM69N0uJch+a+lQBCuw3Li2ZuLKaWn46fxTAp31h9VA4odd"
        crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
        integrity="sha384-9fzrQY4JobN87hT5sQ0JnL9XZQ5q94Qj46ZFqpcBzz03D3UDKAkN/pKct1IVlP2Y"
        crossorigin="anonymous"></script>


    <script>
    var data = [];
    var map, infowindow;
    var mapReady = false;
    var bigMarkerLayer, smallMarkerLayer;

    function statusCode(a) {
        return (a.status == 'Suspended' || a.status == 'Defunct') ? 1 : 0;
    }

    function initMap() {

        map = L.map('map').setView([54.3, -5], 5);

        L.tileLayer(
            'https://api.mapbox.com/styles/v1/axford/cj1c0rdnm00cc2smk5tz8e9yg/tiles/256/{z}/{x}/{y}?access_token={{ MAPBOX_ACCESS_TOKEN }}', {
                tileSize: 256,
                zoomOffset: 0,
                attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

        mapReady = true;
    }

    function initMarkers() {
        if (!mapReady) {
            setTimeout(initMarkers, 100);
            return;
        }

        var i;

        var bigIcon = L.icon({
            iconUrl: '{% static "images/marker-icon.png" %}',
            shadowUrl: '{% static "images/marker-shadow.png" %}',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [0, -41],
            shadowSize: [41,41],
            shadowAnchor: [14,41]
        });

        var smallIcon = L.icon({
            iconUrl: '{% static "images/marker-icon-small.png" %}',
            shadowUrl: '{% static "images/marker-shadow-small.png" %}',
            iconSize: [12, 20],
            iconAnchor: [6, 20],
            popupAnchor: [0, -20],
            shadowSize: [20,20],
            shadowAnchor: [7,20]
        });


        var bigMarkers = [],  // use when zoomed in
            smallMarkers = [];  // use when zoomed out

        for (i = 0; i < data.length; i++) {
          if (statusCode(data[i]) == 0) {

              var html = '';
              if (data[i].logoImageUrl != '')
                  html +='<img src="'+data[i].logo_image_url+'" style="width:4em;"><br/>';
              html += '<a href="'+data[i].main_website_url+'">' + data[i].name + '</a><br/>';
              html += '('+data[i].status + ')';

              // big marker
              var bm = L.marker([data[i].lat, data[i].lng], {
                  icon: bigIcon,
                  title: data[i].name
              });
              bm.bindPopup(html);
              bigMarkers.push(bm);

              // small marker
              var sm = L.marker([data[i].lat, data[i].lng], {
                  icon: smallIcon,
                  title: data[i].name
              });
              sm.bindPopup(html);
              smallMarkers.push(sm);
          }
        }

        bigMarkerLayer = L.layerGroup(bigMarkers);
        smallMarkerLayer = L.layerGroup(smallMarkers).addTo(map);


        // zoom control
        map.on('zoomend', function(e) {
            var currentZoom = map.getZoom();

            if (currentZoom < 7) {
                map.addLayer(smallMarkerLayer);
                map.removeLayer(bigMarkerLayer);
            } else {
                map.removeLayer(smallMarkerLayer);
                map.addLayer(bigMarkerLayer);
            }
        });
    }

    // fetch data
    $.getJSON("spaces.json", function(json) {
        data = json.spaces;
        initMarkers();
    });

    // init map
    initMap();

    </script>
{% endblock %}
