{% extends "base.html" %}

{% block title %}Join the UK Hackspace Foundation{% endblock %}

{% block content %}
<h2>Join as a Member Space</h2>

<div class="alert alert-info">Note: we are currently working on our membership system, so we're not
  currently accepting applications for membership. We aim to be doing so by August 2017.</div>

<p>Membership of the UK Hackspace Foundation is open to hackspaces operating in the UK.
  We also offer <a href="{% url 'join_supporter' %}">supporter memberships</a> to individuals.</p>

<p>Being a member space entitles you to:</p>

<ul>
  <li>Advice and support from a group of experienced hackspace founders</li>
  <li>Promotion by the Hackspace Foundation on our website and at events</li>
</ul>

<p>We're also working on many more benefits for membership in the future, including:</p>

<ul>
  <li>Discounts and collective purchasing from suppliers</li>
  <li>A group insurance policy with lower premiums</li>
  <li>Coordinating donated and spare equipment</li>
  <li>Access to financial grants and loans</li>
</ul>

<h3>Requirements</h3>
<p>In order to be eligible for membership, a hackspace must:</p>

<ul>
  <li>Be a member-owned and operated non-profit organisation, based in the UK</li>
  <li>Have a primary object of providing a shared community workspace for members to practice science, technology, engineering, or art</li>
  <li>Have a bank account</li>
  <li>Have ten or more members, and an elected board of at least three directors</li>
  <li>Conduct its business by allowing each member one vote</li>
  <li>Foster a tolerant and inclusive community</li>
</ul>

<h3>Cost</h3>

<p>We recommend that you contribute 2% of your organisation's annual surplus to the UK Hackspace Foundation.
The minimum fee is £20 per year.</p>

<p>The UK Hackspace Foundation is itself a non-profit, member-run cooperative organisation, and all
money we raise will go towards promoting and supporting hackspaces.</p>

<h3>How to Join</h3>
<p>We are currently working on our membership system, so we're not currently accepting applications for
  membership, but we aim to be doing so by August 2017.</p>

{% endblock %}
