{% extends "base.html" %}
{% load static %}


{% block title %}Hackspace Foundation{% endblock %}

{% block jumbotron %}

<div class="jumbotron">
    <div class="container">
        <h1>Resources</h1>
        <p>Curated resources to aid starting and running a Hackspace</p>
    </div>
</div>

{% endblock %}


{% block content %}

<a href="{{ url }}" class="btn btn-sm btn-default pull-right" style="margin-top: 3px; margin-right:5px;">View on Github</a>

<ol class="breadcrumb" style="width:100%">
    <li><a href="/resources/">Resources</a></li>
    {% for breadcrumb in breadcrumbs %}
        <li><a href="/resources{{ breadcrumb.url }}">{{ breadcrumb.slug }}</a></li>
    {% endfor %}
</ol>

<div class="row">
    <div class="col-md-10">
        <div id="markdown">
            {{ md |safe}}
        </div>
    </div>
    <div class="col-md-2">
        <nav id="toc" data-spy="affix" data-offset-top="170" data-offset-bottom="200">
            <ul class="nav" data-toc="#markdown" data-toc-headings="h1,h2,h3,h4"></ul>
        </nav>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/jquery.toc.js" %}"></script>

    <script>
        //$('body').scrollspy({ target: '#toc-navbar' });

        $('body').on('activate.bs.scrollspy', function () {
            console.log('boom');
        });

    </script>

{% endblock %}
