<p>You are receiving this email as {{ first_name }} {{ last_name }} ({{ email }}) has indicated they are a member of {{ hackspace }}.
</p>

<p>As the primary contact for {{ hackspace }}, please could you use the following links to <a href="{{ key }}">Approve</a> or <a href="{{ key }}">Reject</a> this request.
</p>

<p>Note: Approving this request will give {{ first_name}} the ability to:</p>

<ul>
    <li>maintain profile information about {{ hackspace }} on the Hackspace Foundation website</li>
    <li>apply for membership on behalf of {{ hackspace }}</li>
</ul>

<p>Thanks, the Hackspace Foundation
</p>
