{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Edit Space | {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h1>Edit Space Profile</h1>

        {{ form.non_field_errors }}
        {{ form.errors }}

        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <div class="alert alert-sm alert-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    {% render_field form.name class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputStatus" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    {% if form.status.errors %}
                        {% for error in form.status.errors %}
                            <div class="alert alert-sm alert-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    {% render_field form.status class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputWebsite" class="col-sm-2 control-label">Website</label>
                <div class="col-sm-10">
                    {% render_field form.main_website_url class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="alert alert-sm alert-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    {% render_field form.email class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogo" class="col-sm-2 control-label">Logo URL</label>
                <div class="col-sm-10">
                    {% render_field form.logo_image_url class+="form-control" %}
                </div>
            </div>

            <div class="form-group">
                <label for="inputHavePremises" class="col-sm-2 control-label">Have Premises?</label>
                <div class="col-sm-10">
                    {% render_field form.have_premises class+="form-control" %}
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    {% render_field form.address_first_line class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputTown" class="col-sm-2 control-label">Town</label>
                <div class="col-sm-10">
                    {% render_field form.town class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputRegion" class="col-sm-2 control-label">Region</label>
                <div class="col-sm-10">
                    {% render_field form.region class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputPostcode" class="col-sm-2 control-label">Postcode</label>
                <div class="col-sm-10">
                    {% render_field form.postcode class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputCountry" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    {% render_field form.country class+="form-control" %}
                </div>
            </div>


            <div class="form-group">
                <label for="inputMap" class="col-sm-2 control-label">Map</label>
                <div class="col-sm-10">
                    <input type="hidden" id="id_lat" name="lat" value="{{ form.lat.value }}"/>
                    <input type="hidden" id="id_lng" name="lng" value="{{ form.lng.value }}"/>

                    <div id="map" style="height:300px;"></div>
                </div>
            </div>




            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">Update</button>

                    <a href="/home" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha384-roIisdke7t73jKsr2CM69N0uJch+a+lQBCuw3Li2ZuLKaWn46fxTAp31h9VA4odd"
        crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
        integrity="sha384-9fzrQY4JobN87hT5sQ0JnL9XZQ5q94Qj46ZFqpcBzz03D3UDKAkN/pKct1IVlP2Y"
        crossorigin="anonymous"></script>


    <script>
    var data = [];
    var map, infowindow;
    var mapReady = false;
    var bigMarkerLayer, smallMarkerLayer;

    var lat = {{ form.lat.value }};
    var lng = {{ form.lng.value }};


    function initMap() {

        map = L.map('map').setView([lat, lng], 16);

        L.tileLayer(
            'https://api.mapbox.com/styles/v1/axford/cj1c0rdnm00cc2smk5tz8e9yg/tiles/256/{z}/{x}/{y}?access_token={{ MAPBOX_ACCESS_TOKEN }}', {
                tileSize: 256,
                zoomOffset: 0,
                attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

        mapReady = true;

        var bigIcon = L.icon({
            iconUrl: '{% static "images/marker-icon.png" %}',
            shadowUrl: '{% static "images/marker-shadow.png" %}',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [0, -41],
            shadowSize: [41,41],
            shadowAnchor: [14,41]
        });


        // big marker
        var bm = L.marker([lat, lng], {
          icon: bigIcon,
          draggable: 'true'
        });
        bm.on('dragend', function(event){
            var marker = event.target;
            var position = marker.getLatLng();
            marker.setLatLng(new L.LatLng(position.lat, position.lng),{ icon: bigIcon, draggable:'true'} );
            map.panTo(new L.LatLng(position.lat, position.lng))

            // update hidden form values
            $("#id_lat").val(position.lat.toFixed(7));
            $("#id_lng").val(position.lng.toFixed(7));
        });
        bm.addTo(map);
    }

    // init map
    initMap();

    </script>
{% endblock %}
