{% extends "base.html" %}

{% block title %}Hackspace Foundation{% endblock %}

{% block content %}
<div class="container">

    <h2>Detailed Info for <span class="text-info">{{ spaces|length }}</span> Spaces</h2>

    <p><a href="{% url 'import_spaces' %}" class="btn btn-primary">Import Spaces</a>
    </p>


    {% for space in spaces|dictsort:"name" %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ space.name }}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Status</dt> <dd>{{ space.status }}</dd>
                    <dt>Town</dt> <dd>{{ space.town }}</dd>
                    <dt>Country</dt> <dd>{{ space.country }}</dd>
                    <dt>Region</dt> <dd>{{ space.region }}</dd>
                    <dt>Address</dt> <dd>{{ space.address_first_line }}</dd>
                    <dt>Postcode</dt> <dd>{{ space.postcode }}</dd>
                    <dt>Lat/Lng</dt> <dd>{{ space.lat }}, {{space.lng}}</dd>
                    <dt>URL</dt> <dd>{{ space.main_website_url }}</dd>
                    <dt>Logo URL</dt> <dd>{{ space.logo_image_url }}</dd>
                    <dt>Have Premises?</dt> <dd>{{ space.have_premises }}</dd>
                    <dt>Changed Date</dt> <dd>{{ space.changed_date }}</dd>
                </dl>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
