{% extends "base.html" %}

{% block title %}Starting a Hackerspace in the UK{% endblock %}

{% block content %}
<h2>Starting a Hackerspace in the UK</h2>
<p>If you're thinking of starting a hackspace in the UK, here's some advice which we've found useful:</p>
<h3 id="first-steps">First Steps</h3>
<p>The first steps we recommend for people attempting to start a new space are the following:</p>
<ul>
<li>Set up some form of web presence stating your goals.</li>
</ul>
<ul>
<li>You need a way to discuss your space online, in a permanent, long-form way: most people use a mailing list for this. Don't agonise over the service - the easiest way is the best. Most UK spaces use <a href="https://groups.google.com">Google Groups</a>. Your mailing list shouldn't require approval to join, and the archives should be public so people can easily get involved. <a href="http://southlondonmakerspace.org/2015/06/18/introducing-discourse/">South London Makerspace</a> have had success using <a href="https://www.discourse.org/">Discourse</a> for this, but self-hosting an instance requires a fair amount of work.</li>
</ul>
<ul>
<li>A real-time chat method is also a good idea - most groups use IRC on <a href="http://www.freenode.net">Freenode</a>. The realtime aspect of IRC creates relationships between members who have not even met yet. Avoid Slack, your historical logs aren't accessible unless you pay.</li>
</ul>
<ul>
<li>Spam the hell out of every local (or semi-local) geek mailing list with a stirring &quot;We will fight them on the beaches&quot; style email about the need for a hackerspace. We can give you examples if need be!</li>
</ul>
<ul>
<li>If you can't think of any groups to contact, look harder, they're always there. Good places to contact are local schools (talk to the I.T. and D&amp;T teachers, even if there are no interested students then the teachers themselves might be up for it), get in contact with societies at nearby Universities, and see if the departments at the University might let you send and email to all the students in their dept. You want to target the Computer Science, Chemistry, Maths, Physics and Engineering departments. Look for local sci-fi/gaming groups, they always tend to be a good source of Hackers.</li>
</ul>
<ul>
<li>Don't push any specific angle, eg electronics or software, just be open to people learning, making and breaking things.</li>
</ul>
<h3 id="organise-some-meetings">Organise some meetings</h3>
<p>Once you have a fair number of people on the mailing list you should organise some meetings:</p>
<ul>
<li>If you can (and you think you have enough people), announce that you have meetings either once a month or fortnightly. I prefer fortnightly as it'll get the community going faster, but either will do. Try and stick to a regular day if you can, and make sure that day doesn't clash with anything obvious...</li>
</ul>
<ul>
<li>Get a pub back room - most pubs will give them to you for free on quiet evenings, and in the worst case you'll have to drink enough to make it worth their while (which generally isn't a problem). Back rooms are great as you can generally whip out the soldering gear without them minding too much, and you won't get weird looks from other people in the pub when loads of laptops appear.</li>
</ul>
<ul>
<li>When you have meetings, pitch them as &quot;come and hack/socialise, we're a group of people who want to do this in a hackerspace one day&quot;, not &quot;come and plan how we'll build our hackerspace&quot; - planning meetings for hackerspaces get boring and repetitive very quickly. Build the community and the space organisation will happen naturally as long as everyone there wants it.</li>
</ul>
<p>That last point is REALLY important, focus on the community first and foremost, the space cannot exist without it. Spend several months building up a group of people who want to hack together and it'll work brilliantly. Don't even start planning the physical space until you have a community of enough people to make it viable.</p>
<p>When it comes to setting up mailing lists/blogs/websites, getting it done quickly and in an easy to use manner matters much more than doing it &quot;properly&quot; on your own servers. A google group is fine for the first few months, as is a tumblr blog and everything else. When you have a group and you're not spending all your time evangelising the hackerspace you can migrate! (It's a bit controversial this one, but we've seen many people waste time setting things up and writing code.)</p>
<p>If you'd like a subdomain of .hackspace.org.uk pointing somewhere, let us know.</p>
<h3 id="organisational-structure">Organisational Structure</h3>
<p>The recommended way to organise a hackspace is as a community-run non-profit co-operative: Nobody receives any profit, every member has a vote in the running of the organisation, and there's a democratically-elected, volunteer board of trustees which handles the administrative stuff. In UK company terms, this structure is a &quot;Company Limited by Guarantee&quot;.</p>
<p>You can read more about organisational structures on <a href="http://russ.garrett.co.uk/2009/10/25/starting-a-non-profit-in-the-uk/">Russ's blog</a>. We've also done some research into <a href="charitable_status" title="wikilink">charitable status</a>, but we wouldn't recommend going in that direction.</p>
<h3 id="insurance">Insurance</h3>
<p>Many Hackspaces don't have any insurance in their early days, but as you expand / incorporate, you'll probably want a basic policy covering:</p>
<ul>
<li>Public Liability</li>
<li>Employer Liability (normally just to cover volunteers working on the space itself)</li>
<li>Contents</li>
</ul>
<p>Hackspaces/Makerspaces throughout the UK face a similar challenge in terms of finding the right level of insurance cover for an affordable price. Many insurers do not understand what these spaces are, and thus how to insure them correctly. This can result in a failure to quote, unaffordable pricing and/or insufficient cover.</p>
<p>As a first step, a large number of spaces collaborated in early 2016 to establish a &quot;master scheme&quot; that other groups can opt into. It wasn't quite a formal tender process (that will have to wait for 2017), but it has resulted in a very simple cost-effective policy that can be tailored to your particular needs. Premiums start from around £300, including Public and Employers liability, Contents and Legal Cover - arranged by Export and General Insurance Services (see below for contact details).</p>
<ul>
<li>Reference policy: <a href="https://drive.google.com/open?id=0B5QvTHsRafGhcENRS2xkX2JGQ0U" class="uri">https://drive.google.com/open?id=0B5QvTHsRafGhcENRS2xkX2JGQ0U</a></li>
<li>Premium calculator: <a href="https://docs.google.com/spreadsheets/d/1tDZWsl-hKW5VYiTajsveYCnDt94qwReUL9DYyJoKR5U/edit?usp=sharing" class="uri">https://docs.google.com/spreadsheets/d/1tDZWsl-hKW5VYiTajsveYCnDt94qwReUL9DYyJoKR5U/edit?usp=sharing</a></li>
<li>Background discussion/context: <a href="https://groups.google.com/forum/#!topic/uk-hackspaces/Mb8hTCv8oe8" class="uri">https://groups.google.com/forum/#!topic/uk-hackspaces/Mb8hTCv8oe8</a></li>
</ul>
<p>To develop a tailored policy/quote for your space, please contact John Mitchell at:</p>
<p>Export and General Insurance Services Limited<br />
Desk: 0208 255 0617<br />
Mobile: 07768 865983<br />
Email: john.mitchell@exportandgeneral.co.uk<br />
Wickham House, Hampton Wick, Kingston Upon Thames, KT1 4DY<br />
<a href="http://www.exportandgeneral.co.uk" class="uri">http://www.exportandgeneral.co.uk</a></p>
<h3 id="any-other-questions">Any Other Questions?</h3>
<ul>
<li>Drop into <a href="IRC" title="wikilink">our irc channels on freenode</a>.</li>
<li>Join the <a href="https://groups.google.com/forum/?fromgroups#!forum/uk-hackspaces">UK Hackspaces mailing list</a></li>
<li>Email us <b>contact (at) hackspace (dot) org (dot) uk</b>.</li>
</ul>

{% endblock %}
