{% extends "base.html" %}

{% block title %}Supporter Membership{% endblock %}

{% block content %}
<h2>Join as a Supporter Member</h2>

<div class="alert alert-info">Note: we are currently working on our membership system, so we're not
  currently accepting applications for membership. We aim to be doing so by August 2017.</div>

<p>Supporter membership of the UK Hackspace Foundation is available for individuals who
   have significant experience running hackspaces and an interest in helping the
   Foundation.</p>

<p>Supporter members are full, voting members of the Foundation, however the voting power of all
   supporter members is capped at 20%, with 80% of voting power with Member Spaces.</p>

<p>The membership fee for a Supporter Member is £20 per year. Admission as a
   supporter member is at the discretion of the Board.</p>

{% endblock %}
