<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">UK Hackspace Foundation</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'starting' %}">Start a Space</a></li>
          {# <li><a href="{% url 'join' %}">Join</a></li> #}
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="https://forum.hackspace.org.uk">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true"
                      aria-expanded="false">
            {{user}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
             <li><a href="/space_detail">Detailed Space Info</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="/login">Login</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
